@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h1>Add a Copy</h1>

<div class="info-container">
<h5>@Html.DisplayFor(model => model.Name)</h5>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatronId)

    @Html.Label("Choose a copy: ")
    @Html.DropDownList("CopyId")

    <input type="submit" value="Save" class="btn btn-info"/>
}
</div>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>