@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h1>Add a Author</h1>

<div class="info-container">
<h5>Add a Author to this list: @Html.DisplayFor(model => model.Title)</h5>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BookId)

    @Html.Label("Select author")
    @Html.DropDownList("AuthorId")

    <input type="submit" value="Save" />
}
</div>

<p>@Html.ActionLink("Back to list", "Index")</p>