@{
    Layout = "_Layout";
}

@model Library.Models.Book

<h1>Book Details</h1>

<div class="info-container">
<h5>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h5>

@if(@Model.Authors.Count == 0)
{
    <p>This book doens't contain any authors.</p>
}
else
{
    <ul>
        @foreach(var join in Model.Authors)
        {
            <li>By @join.Author.Name</li>
        }
    </ul>
}
</div>

<p>@Html.ActionLink("Back to Book List", "Index")</p>
<p>@Html.ActionLink("Edit this book", "Edit", new { id = Model.BookId})</p>
<p>@Html.ActionLink("Add Author", "AddAuthor", new { id = Model.BookId})</p>
<p>@Html.ActionLink("Delete This Book", "Delete", new { id = Model.BookId})</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>