@{
    Layout = "_Layout";
}

@model Library.Models.Author

<h1>Author Details</h1>

<div class="info-container">
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Books.Count == 0)
{
    <p>This author doens't contain any books.</p>
}
else
{
    <h5>Books under this author</h5>
    <ul>
        @foreach(var join in Model.Books)
        {
            <li>@join.Book.Title</li>
        }
    </ul>
}
</div>

<p>@Html.ActionLink("Back to Author List", "Index")</p>
<p>@Html.ActionLink("Edit this Author", "Edit", new { id = Model.AuthorId})</p>
<p>@Html.ActionLink("Delete this Author", "Delete", new { id = Model.AuthorId})</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>