@{
    Layout = "_Layout";
}

@model Library.Models.Copy;

<h1>Add a new book copy</h1>

<div class="info-container">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CopyId)

    @Html.Label("Select book: ")
    @Html.DropDownList("BookId")

    <input type="submit" value="Add a book copy" class="btn btn-info" />
}
</div>

<p>@Html.ActionLink("See all book copies", "Index")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>